<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cowrite.project.mapper.DocumentTemplateMapper">

    <resultMap id="BaseResultMap" type="com.cowrite.project.model.entity.DocumentTemplate">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="content" property="content" />
        <result column="creator_id" property="creatorId" />
        <result column="scope" property="scope" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
            `id`,
            `title`,
            `description`,
            `content`,
            `creator_id`,
            `scope`,
            `created_at`,
            `updated_at`,
            `deleted`
    </sql>

</mapper>
